.book-container{
    background-color: var(--aqua);
    border: 2px solid black;
    border-radius: 8px;
    height: 80%;
    width: 24vw;
    max-width: 200px;
    padding: 5%;
    position: relative;
}

.book-cover{
    width: 100%;
    height: 50%;
    margin-bottom: 5%;
}

.book-collection{
    width: 100%;
    padding: 8px;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 2vw;
}

.book-filter-container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    row-gap: 15%;
    margin-top: 5%;
}

.book-filter{
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    border: 2px solid var(--turquoise);
    background-color: var(--turquoise);
    border-radius: 50%;
    padding: 6px;
    white-space: nowrap;
}

.close-book{
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 4%;
    margin-left: calc(50% - 15%);
    background-color: var(--turquoise);
    border: 2px solid black;
    border-radius: 8px;
}

.close-book:hover{
    font-weight: 600;
}

@media screen and (max-width: 600px){
    .book-collection{
        gap: 10px;
    }
    .book-container{
        width: 42vw;
        margin: 0px auto;
    }
}

@media screen and (min-width: 601px) and (max-width: 710px){
    .book-collection{
        gap: 10px;
    }
    .book-container{
        width: 22vw;
        margin: 0px auto;
    }
}